@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	line-height: 1;
	font-family: 'Exo 2', sans-serif;
	/* overflow: hidden; */
	height: 100%;
}

:root {
	--index: calc(1vw + 1vh);
}

.photos {
	height: 100vh;
	position: relative;
}

.swiper-slide img {
	margin: 0 auto;
	display: block;
	width: auto;
	height: 100vh;
	object-fit: cover;
}

@media (max-width: 768px) {
	.swiper-slide img {
		width: 100%;
	}
}

.timer {
	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	padding: calc(var(--index) * 1.5);
	border-radius: 20px;
}

.timer__title {
	font-size: calc(var(--index) * 1.5);
	text-align: center;
	margin-bottom: calc(var(--index) * 1);
	font-weight: 400;
}

.timer__container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: calc(var(--index) * 1);
	gap: calc(var(--index) * 1);
}

.timer-item {
	text-align: center;
}

.timer-item__separator {
	font-size: calc(var(--index) * 2.25);
	position: relative;
	top: -10px;
}

.timer-value {
	font-size: calc(var(--index) * 2.25);
	font-weight: 700;
}

.timer-text {
	font-size: calc(var(--index) * 1);
}

.timer__seconds-title {
	margin-bottom: calc(var(--index) * 0.75);
	font-size: calc(var(--index) * 1);
	font-weight: 400;
}

.timer__seconds-container .timer-value {
	font-weight: 400;
	font-size: calc(var(--index) * 1.7);
	margin-bottom: calc(var(--index) * -0.5);
}

.timer__seconds-container {
	margin-bottom: calc(var(--index) * 0.5);
}

.timer-year {
}

.timer-year .timer-value {
	font-size: calc(var(--index) * 5);
	text-shadow: 0px 0px 20px #d3b239;
}

.timer-year .timer__year-text {
	text-shadow: 0px 0px 5px #000000;
	font-size: calc(var(--index) * 1.25);
}

/* Письмо */

.letter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-image: url('./images/bg.png');
	background-size: cover;
	min-height: 100vh;
	max-width: 768px;
	margin: 0 auto;
	padding: calc(var(--index) * 3) calc(var(--index) * 3);
	font-size: calc(var(--index) * 1.75);
	line-height: calc(var(--index) * 2.25);
}

.pumpkin {
	--bg-size: 400%;
	--color-one: hsl(15 90% 55%);
	--color-two: hsl(40 95% 55%);
	background: linear-gradient(90deg, var(--color-one), var(--color-two), var(--color-one)) 0 0 /
		var(--bg-size) 100%;
	color: transparent;
	background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
	.pumpkin {
		animation: move-bg 8s linear infinite;
	}
	@keyframes move-bg {
		to {
			background-position: var(--bg-size) 0;
		}
	}
}

.signature {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	text-align: right;
	font-size: calc(var(--index) * 1.5);
}

.signature span {
	display: block;
}

.lovely {
	font-size: calc(var(--index) * 1.25);
}

.sign {
	display: flex;
	justify-content: flex-end;
	font-size: calc(var(--index) * 1.5);
}

.heart {
	display: inline-block;
	color: #e00;
	animation: beat 0.25s infinite alternate;
	transform-origin: center;
}

/* Heart beat animation */
@keyframes beat {
	to {
		transform: scale(1.1);
	}
}
